/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root { 

  --color-alpha: #195FD2;
  --color-beta: #649129;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #202125;
}

.heading {
    text-align: center;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
} 

.heading a { 
  text-decoration: none;
  color: white;
}

.header { 
  font-size: 3em;
}
.paragraph { 
  font-size: 1.5em;
  padding-bottom: 2rem;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}


.search-box {
  background-color: #2f3640;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn {
  cursor: pointer;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  outline: none;
  width: 100%;
  padding: 0 20px;
  margin-top: 5px;
  border: none;
  background: none;
  float: left;
  color: white;
  font-size: 16px;

}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 120px;
  height: 80px;
}

.spinner > div {
  background: var(--color-alpha);
  height: 100%;
  width: 5px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -.9s;
}

.spinner .r3 {
  animation-delay: -.8s;
}

.spinner .r4 {
  animation-delay: -.7s;
}

.spinner .r5 {
  animation-delay: -.6s;
}

@keyframes stretch {
  0%, 20%, 49% { 
    transform: scaleY(0.4);
    background-color: var(--color-alpha);
  }
  
  10% { 
    transform: scaleY(1.0);
  }
  
  50%, 70%, 100% { 
    transform: scaleY(0.4);
    background-color: var(--color-beta);
  }
  
  60% { 
    transform: scaleY(1.0);
    background-color: var(--color-beta);
  }
}